################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Framework/obj/Debug
/packages
/.vs/WordManager.Tagger
/WordManager.WordPatternProvider/obj/Debug
