/bin/Debug
/bin/obj
/packages
/.vs/WordManager.Tagger/v15
/WordManager.Common/.vs/WordManager.Common/v15
/WordManager.Common/obj/Debug
/WordManager.Common/obj
/WordManager.Framework/obj/Debug
/WordManager.Framework/obj
/WordManager.Neo4JConnector/obj
/WordManager.Tagger/obj
/WordManager.Test/obj
/WordManager.Framework/bin/Debug
/WordManager.Tagger/obj
/WordManager.Test/bin/Debug
/WordManager.Test/obj
/WordManager.Common/bin/Debug
/WordManager.Common/obj/Debug
/WordManager.Framework/obj/Debug
/WordManager.Neo4JConnector/bin/Debug
/WordManager.Neo4JConnector/obj/Debug
