<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GetverbSubwordGroup" value="(?s)&lt;ol&gt;\n+(?&lt;words&gt;&lt;li&gt;.*?)&lt;ul&gt;"/>
    <add key="GetverbSubwords" value="&gt;(?&lt;words&gt;.*?)&lt;"/>
    <add key="GetSubwordGroup" value="class=&quot;term&quot;&gt;&lt;span id=&quot;(?&lt;term&gt;\S*)&quot;.*&lt;\/span&gt;(?&lt;words&gt;.*)"/>
    <add key="GetSubwords" value="&lt;a.*?&gt;(?&lt;words&gt;.*?)&lt;\/a&gt;|\S*"/>
    <add key="wordressource" value="https://fr.wiktionary.org/wiki/"/>
    <add key="host" value="localhost"/>
    <add key="port" value="7474"/>
    <add key="commitPath" value="/db/data/transaction/commit"/>
    <add key="neo4jlogin" value="neo4j"/>
    <add key="neo4jpw" value="N1Enh3fr"/>
  </appSettings>
  <connectionStrings>
    <add name="neo4j_wordBank" connectionString="bolt://localhost:7687"/>
  </connectionStrings>
</configuration>