<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="wordpatternBucketName" value="wordpattern"/>
    <add key="wordpatternCluster" value="192.168.43.41"/>
    <add key="Login" value="Administrator"/>
    <add key="Password" value="Administrator"/>
  </appSettings>
</configuration>
