<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="port" value="7687"/>
    <add key="commitPath" value="/db/data/transaction/commit"/>
    <add key="neo4jlogin" value="neo4j"/>
    <add key="neo4jpw" value="N1Enh3fr"/>
  </appSettings>
  <connectionStrings>
    <add name="neo4j_wordBank" connectionString="bolt://localhost:7687"/>
  </connectionStrings>
</configuration>
